.btn-dark-blue {
    background-color: #0c2d57 !important;
    border: #0c2d57 !important;
    color: #ffffff !important;
}

.btn-dark-blue:hover {
    background-color: #103c77 !important;
    border: #103c77 !important;
    color: #ffffff !important;
}

.btn-orange {
    background-color: #fc6736 !important;
    border: #fc6736 !important;
    color: #ffffff !important;
}

.btn-orange:hover {
    background-color: #e15728 !important;
    border: #e15728 !important;
    color: #ffffff !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 36px !important;
}

.custom-link {
    text-decoration: none;
    color: black;
}

.custom-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.font {
    height: 450px;
    width: 250px;
    position: relative;
    border-radius: 15px;
    border: 1px solid #0c2d57;
}

.top {
    height: 30%;
    width: 100%;
    background-color: #0c2d57;
    position: relative;
    z-index: 5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom {
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top img {
    height: 100px;
    width: 100px;
    /* background-color: #e6ebe0; */
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 75px;
}

.bottom p {
    position: relative;
    top: 60px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    text-emphasis: spacing;
}

.bottom .desi {
    font-size: 12px;
    color: grey;
    font-weight: normal;
}

.bottom .no {
    font-size: 15px;
    font-weight: normal;
}

.barcode img {
    height: 120px;
    width: 120px;
    text-align: center;
    margin: 5px;
}

.barcode {
    text-align: center;
    position: relative;
    top: 70px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .id-card,
    .id-card * {
        visibility: visible;
    }

    .id-card {
        left: 0;
        right: 0;
        bottom: 0;
        top: 15vh;
        margin: auto;
    }
}

@page {
    size: landscape;
}

.card-absence-on-time {
    display: flex;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    background: #367e18;
    color: white;
}

.card-absence-late {
    display: flex;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    background: #ff0000;
    color: white;
}

.id-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}